{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false,
            "experimentalObjectRestSpread": false
        }
    },
    "env": {
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "global-require": ["error"],
        "max-len": ["error", { "code": 120 }]
    }
}
